html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-family: "Museo Sans", sans-serif;
  font-display: swap;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.main,
section,
header,
footer {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
}

iframe {
  border: 0;
}
*:focus {
  outline: none;
}

.tabs .tab {
  visibility: hidden;
  position: absolute;
  right: -100vw;
  opacity: 0;
  transition: all 0.7s;
}

.tabs .tab.active {
  position: relative;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.index {
  overflow-x: hidden;
}
